@font-face {
  font-family: "avenirbold";
  src: url("/avenir.font/AvenirLTStd-Black.otf") format("otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "avenirbook";
  src: url("/avenir.font/AvenirLTStd-Book.otf") format("woff2"), url("/uploads/fonts/relative-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "helvetica";
  src: url("Helvetica-Font/Helvetica.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "helveticabold";
  src: url("Helvetica-Font/Helvetica-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 10px;
  color: #212353;
  background-color: #E5E5E5; }

*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  outline-color: inherit;
  outline: none; }
  * a, * button, * input {
    outline: none; }

body {
  margin: 0;
  font-family: "avenirbook", sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  overflow-x: hidden; }

p {
  margin: 0; }

a,
.as-link {
  text-decoration: none;
  cursor: pointer;
  color: unset;
  transition: all 0.32s ease-out; }
  a:focus, a:hover,
  .as-link:focus,
  .as-link:hover {
    text-decoration: none; }

audio, canvas, img, video {
  display: block;
  max-width: unset; }

svg {
  pointer-events: none;
  vertical-align: middle;
  fill: inherit; }

ul {
  padding: 0;
  list-style: none;
  margin: 0; }

button {
  outline: none; }
  button[type="button"] {
    box-sizing: content-box;
    background: none;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    overflow: visible;
    padding: 0;
    font: inherit; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

input[type="email"], input[type="submit"], input[type="reset"], input[type="button"] {
  box-sizing: content-box;
  background: none;
  border: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: normal;
  line-height: normal;
  overflow: visible;
  padding: 0; }
  input[type="email"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
    border: 0;
    padding: 0; }
input[type="button"], input[type="submit"] {
  cursor: pointer; }

.wrapper {
  padding: 1.79rem 1.09rem; }
  @media only screen and (min-width: 768px) {
    .wrapper.will-grow {
      padding-top: 2.79rem;
      padding-bottom: 2.79rem; } }
  @media only screen and (min-width: 992px) {
    .wrapper.will-grow {
      padding-top: 3.79rem;
      padding-bottom: 3.79rem; } }
  @media only screen and (min-width: 1192px) {
    .wrapper.will-grow {
      padding-top: 4.79rem;
      padding-bottom: 4.79rem; } }

.wrapper-y {
  padding-top: 1.79rem;
  padding-bottom: 1.79rem; }
  @media only screen and (min-width: 768px) {
    .wrapper-y.will-grow {
      padding-top: 2.79rem;
      padding-bottom: 2.79rem; } }
  @media only screen and (min-width: 992px) {
    .wrapper-y.will-grow {
      padding-top: 3.79rem;
      padding-bottom: 3.79rem; } }
  @media only screen and (min-width: 1192px) {
    .wrapper-y.will-grow {
      padding-top: 4.79rem;
      padding-bottom: 4.79rem; } }
  .wrapper-y.negate-top {
    padding-top: 0 !important; }
  .wrapper-y.negate-bottom {
    padding-bottom: 0 !important; }

.wrapper-x {
  padding-right: 1.09rem;
  padding-left: 1.09rem; }

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both; }

header {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  margin: auto; }

.site-footer {
  border-top: 1px dashed #ddd; }
  .site-footer .content-area {
    position: relative;
    z-index: 2; }
    .site-footer .content-area h3 {
      margin-bottom: 0.79rem; }

.grid.exclusive-to-footer > *:nth-child(1) {
  grid-column: 1/13; }
.grid.exclusive-to-footer > *:nth-child(2) {
  grid-column: 1/7; }
.grid.exclusive-to-footer > *:nth-child(3) {
  grid-column: 7/13; }
.grid.exclusive-to-footer > *:nth-child(4) {
  grid-column: 1/13; }
@media only screen and (min-width: 768px) {
  .grid.exclusive-to-footer > *:nth-child(1) {
    grid-column: 1/5; }
  .grid.exclusive-to-footer > *:nth-child(2) {
    grid-column: 5/9; }
  .grid.exclusive-to-footer > *:nth-child(3) {
    grid-column: 9/13; }
  .grid.exclusive-to-footer > *:nth-child(4) {
    grid-column: 1/13; } }
@media only screen and (min-width: 992px) {
  .grid.exclusive-to-footer > *:nth-child(1) {
    grid-column: 1/5; }
  .grid.exclusive-to-footer > *:nth-child(2) {
    grid-column: 5/7; }
  .grid.exclusive-to-footer > *:nth-child(3) {
    grid-column: 7/9; }
  .grid.exclusive-to-footer > *:nth-child(4) {
    grid-column: 9/13; } }

.co-white {
  color: #ffffff; }

.co-black {
  color: #212353; }

.co-greyblack {
  color: #4B5D68; }

.co-purple {
  color: #9C69E2; }

.bg-white {
  background-color: #ffffff; }

.bg-purple {
  background-color: #9C69E2; }

.bg-deeppink {
  background-color: #F063B8; }

.bg-pink {
  background-color: rgba(240, 99, 184, 0.15); }

.bg-lightgreen {
  background-color: #62ceba; }

.bg-lightpurple {
  background-color: #9d6ce2; }

.bg-lightpink {
  background-color: #f562ba; }

.bg-lightblue {
  background-color: #279de2; }

.tx-c {
  text-align: center; }

.tx-l {
  text-align: left; }

.tx-r {
  text-align: right; }

.underline {
  text-decoration: underline; }

.smalltext {
  font-size: min(max(1rem, 4vw), 1.6rem); }

.mediumtext {
  font-size: min(max(1.2rem, 4vw), 1.8rem); }

.largetext {
  font-size: min(max(2rem, 4vw), 2.4rem); }

.xlargetext {
  font-size: min(max(2.5rem, 4vw), 4rem); }

.xxlargetext {
  font-size: min(max(6rem, 4vw), 8rem); }

.defaultlh {
  line-height: min(max(2.5rem, 4vw), 2.9rem); }

.headinglh {
  line-height: min(max(6rem, 4vw), 8.8rem); }

.lh-26 {
  line-height: min(max(2.5rem, 4vw), 2.6rem); }

.lh-52 {
  line-height: min(max(2.5rem, 4vw), 5.2rem); }

.underline {
  text-decoration: underline; }

h1, h2, h3, h4 {
  font-family: "helvetica";
  margin-top: 1.79rem;
  margin-bottom: 1.09rem;
  line-height: min(max(6rem, 4vw), 8.8rem); }

h1, .h1 {
  font-size: min(max(6rem, 4vw), 8rem); }

h2, .h2, h3, .h3 {
  font-size: min(max(2.5rem, 4vw), 4rem); }

.fw-bold {
  font-weight: bold; }

.fw-normal {
  font-weight: normal; }

.fw-light {
  font-weight: 100; }

.ff-light {
  font-family: "avenirbook", sans-serif; }

.ff-regular {
  font-family: "avenirbold", ans-serif; }

.ff-bold {
  font-family: "nirbook", sans-serif; }

.btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 2rem;
  white-space: nowrap;
  border-radius: 50px;
  padding: 2rem;
  height: 60px; }
  .btn--white {
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    width: 210px; }
    .btn--white:hover {
      background-color: #e6e6e6; }
  .btn--purple {
    background-color: #ffffff; }
  .btn:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.card--padded {
  padding: 25px; }

.rad-50 {
  border-radius: 50px; }

.rad-c {
  border-radius: 50%; }

.rad-s {
  border-radius: 3px; }

.borderless {
  border: none; }

.thin-light-border {
  border: 0.5px solid rgba(255, 255, 255, 0.2); }

.thin-dark-border {
  border: 0.5px solid rgba(0, 0, 0, 0.1); }

.card-wrapper {
  padding: 1.79rem; }
  @media only screen and (min-width: 576px) {
    .card-wrapper.will-grow {
      padding: 2.79rem; } }
  @media only screen and (min-width: 768px) {
    .card-wrapper.will-grow {
      padding: 3.79rem; } }

.absolute-zero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.fixed-zero {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.absolute-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.absolute-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0; }

.absolute-top-right {
  position: absolute;
  right: 0;
  top: 0; }

.pos-f {
  position: fixed; }
  .pos-f.fixed-to-top {
    top: 0;
    right: 0;
    left: 0; }

.pos-a {
  position: absolute; }

.pos-r {
  position: relative; }

.pos-a-r {
  position: absolute; }
  @media only screen and (max-width: 767px) {
    .pos-a-r {
      position: relative; } }

.abs-after-content {
  content: "";
  display: inline-block;
  position: absolute; }

.d-blk {
  display: block; }

.d-ibl {
  display: inline-block; }

.d-flx {
  display: flex; }

.d-grid {
  display: grid; }

.d-col-row {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .d-col-row {
      flex-direction: row; } }

.d-col-row-l {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 992px) {
    .d-col-row-l {
      flex-direction: row; } }

.flx-inverse {
  flex-direction: row-reverse; }

.flex-col {
  flex-direction: column; }

.d-iflx {
  display: inline-flex; }

.flex-1 {
  flex: 1; }

.flex-auto {
  flex: auto; }

.flex-wrap {
  flex-wrap: wrap; }

.al-i-fs {
  align-items: flex-start; }

.al-i-fe {
  align-items: flex-end; }

.al-i-c {
  align-items: center; }

.al-s-bl {
  align-self: baseline; }

.j-c-sb {
  justify-content: space-between; }

.j-c-c {
  justify-content: center; }

.j-c-fe {
  justify-content: flex-end; }

.j-c-e {
  justify-content: end; }

.space-between-groups {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.space-end-between-groups {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }

.m-0 {
  margin: 0; }

.m-1 {
  margin: 1rem; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mt-0 {
  margin-top: 0; }

.mt-h {
  margin-top: 0.5rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-1h {
  margin-top: 1.5rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-2h {
  margin-top: 2.5rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem; }

.mx-2 {
  margin-right: 2rem;
  margin-left: 2rem; }

.mr-h {
  margin-top: 0.5rem; }

.mr-1 {
  margin-right: 1rem; }

.mb-0 {
  margin-bottom: 0; }

.mb-hh {
  margin-bottom: 0.25rem; }

.mb-h {
  margin-bottom: 0.5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.ml-h {
  margin-left: 0.5rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.p-0 {
  padding: 0; }

.p-h {
  padding: 0.5rem; }

.p-1 {
  padding: 1rem; }

.p-1h {
  padding: 1.5rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.p-4 {
  padding: 4rem; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.py-hh {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.py-h {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-1h {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pt-h {
  padding-top: 0.5rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-1h {
  padding-top: 1.5rem; }

.pt-2 {
  padding-top: 2rem; }

.pb-h {
  padding-bottom: 0.5rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-1h {
  padding-bottom: 1.5rem; }

.pl-0 {
  padding-left: 0; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.radius-c {
  border-radius: 50%; }

.radius-50 {
  border-radius: 50px; }

.radius-10 {
  border-radius: 10px; }

.opacity-7 {
  opacity: 0.7; }

.icon-w--18 {
  width: 18px;
  height: 18px; }
.icon-w--20 {
  width: 20px;
  height: 20px; }
.icon-w--50 {
  width: 50px;
  height: 50px; }

.sr:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip-path: inset(100%);
  overflow: hidden;
  white-space: nowrap; }

/*# sourceMappingURL=index.css.map */
