@font-face {
  font-family: "avenirbold";
  src: url("/avenir.font/AvenirLTStd-Black.otf") format("otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "avenirbook";
  src: url("/avenir.font/AvenirLTStd-Book.otf") format("woff2"), url("/uploads/fonts/relative-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "helvetica";
  src: url("Helvetica-Font/Helvetica.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 10px;
  color: #212353;
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  overflow-x: hidden;
  width: 100vw; }

*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  outline-color: inherit;
  outline: none; }

body {
  margin: 0;
  font-family: "avenirbold", sans-serif;
  font-size: min(max(1.2rem, 6vw), 1.8rem);
  line-height: min(max(2.2rem, 6vw), 2.9rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  color: #4B5D68; }

p, a {
  margin: 0;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    p, a {
      text-align: left; } }

a,
.as-link {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: unset;
  transition: all 0.32s ease-out; }
  a:focus, a:hover,
  .as-link:focus,
  .as-link:hover {
    text-decoration: none; }

img {
  display: block;
  max-width: unset;
  width: 100%; }

svg {
  pointer-events: none;
  vertical-align: middle;
  fill: inherit; }

ul {
  padding: 0;
  list-style: none;
  margin: 0; }

main {
  margin: 1rem; }

.wrapper {
  padding: 1rem;
  margin: 1rem; }
  @media only screen and (min-width: 768px) {
    .wrapper__will-grow {
      padding-top: 4rem;
      padding-bottom: 4rem; } }
  @media only screen and (min-width: 1192px) {
    .wrapper__will-grow {
      padding-top: 6rem;
      padding-bottom: 6rem;
      margin: 0; } }

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both; }

.main-header {
  max-width: 1214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 2rem;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .main-header {
      padding: 4.7rem; } }
  .main-header .btn {
    display: none; }
    @media only screen and (min-width: 768px) {
      .main-header .btn {
        display: flex;
        margin-left: 5rem; } }

.hamburger {
  position: absolute;
  right: 2rem;
  top: 3rem; }
  .hamburger:hover {
    color: #212353; }
  @media only screen and (min-width: 768px) {
    .hamburger {
      display: none; } }

#mobile-menu-list {
  display: none; }
  #mobile-menu-list li {
    margin: 2rem 1rem; }
  #mobile-menu-list .btn {
    display: block;
    padding: 1rem 2rem;
    width: auto;
    height: auto;
    font-size: min(max(1.1rem, 6vw), 1.6rem); }

.menu-list {
  display: none; }
  @media only screen and (min-width: 768px) {
    .menu-list {
      display: flex;
      max-width: 322px;
      justify-content: space-between;
      align-items: center;
      width: 100%; } }

@media only screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    width: 100%;
    max-width: 492px;
    justify-content: space-between; } }

.site-footer {
  border-top: 1px dashed #ddd; }
  .site-footer .content-area {
    position: relative;
    z-index: 2; }

.site-map {
  display: flex;
  justify-content: space-between; }

.co-white {
  color: #ffffff; }

.co-black {
  color: #212353; }

.co-greyblack {
  color: #4B5D68; }

.co-purple {
  color: #9C69E2; }

.bg-white {
  background-color: #ffffff; }

.bg-purple {
  background-color: #9C69E2; }

.bg-deeppink {
  background-color: #F063B8; }

.bg-pink {
  background-color: rgba(240, 99, 184, 0.15); }

.bg-lightgreen {
  background-color: rgba(104, 201, 186, 0.1); }

.bg-lightpurple {
  background-color: rgba(156, 105, 226, 0.1); }

.bg-lightpink {
  background-color: rgba(240, 99, 184, 0.1); }

.bg-lightblue {
  background-color: rgba(45, 156, 219, 0.1); }

.tx-c {
  text-align: center; }

.tx-l {
  text-align: left; }

.tx-r {
  text-align: right; }

.underline {
  text-decoration: underline; }

.microtext {
  font-size: min(max(1rem, 6vw), 1.4rem); }

.smalltext {
  font-size: min(max(1.1rem, 6vw), 1.6rem);
  line-height: min(max(1.9rem, 6vw), 2.6rem); }

.mediumtext {
  font-size: min(max(1.2rem, 6vw), 1.8rem);
  line-height: min(max(2.2rem, 6vw), 2.9rem); }

.largetext {
  font-size: min(max(16rem, 6vw), 2.4rem);
  line-height: min(max(2.1rem, 6vw), 3.1rem); }

.xlargetext {
  font-size: min(max(2.7rem, 6vw), 4rem);
  line-height: min(max(4rem, 6vw), 5.2rem); }

.xxlargetext {
  font-size: min(max(5.5rem, 6vw), 8rem); }

.defaultlh {
  line-height: min(max(2.2rem, 6vw), 2.9rem); }

.headinglh {
  line-height: min(max(5.7rem, 6vw), 8.8rem);
  line-height: min(max(5.7rem, 6vw), 8.8rem); }

.lh-26 {
  line-height: min(max(1.9rem, 6vw), 2.6rem); }

.lh-31 {
  line-height: min(max(2.1rem, 6vw), 3.1rem); }

.lh-52 {
  line-height: min(max(4rem, 6vw), 5.2rem); }

h1, h2, h3, h4, h5, h6 {
  font-family: "helvetica", serif;
  margin-top: 3rem;
  margin-bottom: 2rem;
  line-height: min(max(5.7rem, 6vw), 8.8rem);
  color: #212353;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
      text-align: left; } }

h1, .h1 {
  font-size: min(max(5.5rem, 6vw), 8rem);
  line-height: min(max(5.7rem, 6vw), 8.8rem); }

h2, .h2, h3, .h3 {
  font-size: min(max(2.7rem, 6vw), 4rem);
  line-height: min(max(2.2rem, 6vw), 2.9rem); }

.fw-bold {
  font-weight: bold; }

.fw-normal {
  font-weight: normal; }

.fw-light {
  font-weight: 100; }

.ff-light {
  font-family: "avenirbook", sans-serif; }

.ff-regular {
  font-family: "avenirbold", sans-serif; }

.ff-bold {
  font-family: "helvetica", serif; }

.ls-05 {
  letter-spacing: 0.009em; }

.btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 50px;
  padding: 2rem;
  height: 60px; }
  .btn--white {
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    width: 210px; }
    .btn--white:hover {
      box-shadow: none;
      background-color: #f7f7f7; }
  .btn--pink {
    background-color: rgba(240, 99, 184, 0.15);
    color: #ffffff;
    width: 170px; }
    .btn--pink:hover {
      background-color: rgba(236, 52, 163, 0.15); }
  .btn--purple {
    background-color: #9C69E2;
    color: #ffffff;
    width: 170px; }
    .btn--purple:hover {
      background-color: #b894ea; }

.slider-indicator {
  display: flex;
  width: 55px;
  justify-content: space-between; }
  .slider-indicator li {
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: #ffffff;
    border-radius: 100%; }
    .slider-indicator li.active {
      height: 10px;
      width: 10px;
      background-color: rgba(240, 99, 184, 0.15); }

.card {
  padding: 2rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: 442px 358px;
  background-position: 110px 10%;
  position: relative;
  border-radius: 50px; }
  @media only screen and (min-width: 992px) {
    .card {
      height: 358px;
      width: 100%; } }
  @media only screen and (min-width: 1192px) {
    .card {
      padding: 2rem 0; } }
  .card .text {
    max-width: 220px;
    position: relative;
    height: 100%;
    position: relative;
    margin-left: 0.5rem; }
    @media only screen and (min-width: 1192px) {
      .card .text {
        margin-left: 3rem; } }
  .card .text-child {
    position: relative; }
  .card a {
    display: block;
    letter-spacing: 0.005em;
    color: #212353;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "avenirbook", sans-serif;
    margin-top: 2rem;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .card a {
        position: absolute;
        bottom: -1.5rem;
        margin-top: 0;
        text-align: left; } }
    @media only screen and (min-width: 1192px) {
      .card a {
        position: absolute;
        bottom: 0;
        margin-top: 0;
        text-align: left; } }
  .card p {
    font-weight: 100;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .card p {
        text-align: left; } }
  .card h6 {
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .card h6 {
        text-align: left; } }
  .card__first {
    max-width: 532px;
    background-color: rgba(104, 201, 186, 0.1); }
    .card__first img {
      max-width: 232px; }
    @media only screen and (min-width: 992px) {
      .card__first {
        background-color: transparent;
        background-image: url("/uploads/card-1.svg"); } }
  .card__second {
    max-width: 544px;
    background-color: rgba(156, 105, 226, 0.1); }
    .card__second img {
      max-width: 241px; }
    @media only screen and (min-width: 992px) {
      .card__second {
        background-color: transparent;
        background-image: url("/uploads/card-2.svg"); } }
  .card__third {
    max-width: 550px;
    background-color: rgba(240, 99, 184, 0.1);
    margin: 0; }
    .card__third img {
      max-width: 245px; }
    @media only screen and (min-width: 992px) {
      .card__third {
        background-color: transparent;
        background-image: url("/uploads/card-3.svg");
        margin-left: -2.5rem; } }
  .card__fourth {
    max-width: 539px;
    background-color: rgba(45, 156, 219, 0.1); }
    .card__fourth img {
      max-width: 230px; }
    @media only screen and (min-width: 992px) {
      .card__fourth {
        background-color: transparent;
        background-image: url("/uploads/card-4.svg"); } }

.testimony-card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 6rem;
  display: flex;
  position: relative;
  z-index: 50;
  width: 100%;
  height: 100%;
  max-height: 330px; }
  .testimony-card__first {
    max-width: 645px;
    margin-right: 2rem; }
    .testimony-card__first p {
      max-width: 382px; }
  .testimony-card__second {
    max-width: 360px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-image: linear-gradient(270deg, #9C69E2 9.75%, rgba(255, 255, 255, 0) 100%);
    margin-right: -1.5rem;
    padding-left: 4rem;
    padding-right: 1rem; }
    .testimony-card__second::after {
      border-bottom-right-radius: 0 !important; }
    .testimony-card__second p {
      max-width: 180px; }

.shadow {
  position: relative;
  width: 100%;
  height: 100%;
  height: 380px;
  background-color: red;
  border-radius: 0 0 20px 20px; }
  .shadow img {
    margin-right: 3rem; }

.warehouse-section {
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
  padding-top: 0; }
  @media only screen and (min-width: 768px) {
    .warehouse-section {
      display: flex;
      justify-content: space-between;
      text-align: left;
      max-width: 1165px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; } }
  .warehouse-section .child-img {
    width: 100%;
    margin-top: 5rem; }
    @media only screen and (min-width: 768px) {
      .warehouse-section .child-img {
        max-width: 430px;
        position: absolute;
        right: 0;
        bottom: 5%;
        margin-top: 0; } }
    @media only screen and (min-width: 992px) {
      .warehouse-section .child-img {
        max-width: 660px;
        bottom: 0; } }
    @media only screen and (min-width: 1192px) {
      .warehouse-section .child-img {
        max-width: 885px;
        right: -9%;
        top: 22%; } }
  .warehouse-section .child-text {
    position: relative;
    max-width: 600px;
    margin: auto; }
    @media only screen and (min-width: 768px) {
      .warehouse-section .child-text {
        margin: 0; } }
    .warehouse-section .child-text p {
      max-width: 365px;
      margin: auto; }
      @media only screen and (min-width: 768px) {
        .warehouse-section .child-text p {
          margin-left: 0; } }

.store-section {
  max-width: 1117px;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  padding: 1.5rem; }
  @media only screen and (min-width: 1192px) {
    .store-section {
      padding-left: 1rem;
      margin: 15rem auto; } }
  .store-section .child-text {
    max-width: 474px; }
    @media only screen and (min-width: 992px) {
      .store-section .child-text {
        margin-right: 7rem; } }
  .store-section .child-img {
    max-width: 350px;
    margin-right: 1rem; }
    @media only screen and (min-width: 992px) {
      .store-section .child-img {
        max-width: 477px;
        margin-right: 0; } }

.feature-excerpt {
  max-width: 580px; }
  @media only screen and (min-width: 768px) {
    .feature-excerpt {
      margin: auto; } }

.features {
  max-width: 1137px;
  width: 100%;
  margin: auto;
  font-size: min(max(1.1rem, 6vw), 1.6rem);
  display: grid;
  grid-gap: 4rem;
  margin-top: 1rem; }
  @media only screen and (min-width: 768px) {
    .features {
      grid-template-columns: auto auto;
      margin-top: 3rem; } }
  @media only screen and (min-width: 992px) {
    .features {
      grid-gap: 5rem;
      margin-top: 4rem; } }

.avatar {
  width: 90px;
  height: 90px; }

.testimony {
  max-width: 1117px;
  background-color: #9C69E2;
  border-radius: 50px;
  padding: 1.5rem; }
  @media only screen and (min-width: 1192px) {
    .testimony {
      padding-left: 1rem;
      margin: 15rem auto; } }

.testimony-container {
  margin: auto;
  width: fit-content; }
  @media only screen and (min-width: 992px) {
    .testimony-container {
      display: flex;
      align-items: center; } }

.d-blk {
  display: block; }

.d-ibl {
  display: inline-block; }

.d-flx {
  display: flex;
  align-items: center; }
  .d-flx__space-center {
    justify-content: space-between; }
  .d-flx__will-res-med {
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .d-flx__will-res-med {
        flex-direction: row; } }
  .d-flx__will-res-large {
    flex-direction: column; }
    @media only screen and (min-width: 992px) {
      .d-flx__will-res-large {
        flex-direction: row; } }
  .d-flx--will-wrap {
    flex-wrap: wrap; }

.d-grid {
  display: grid; }

.d-iflx {
  display: inline-flex; }

.flex-1 {
  flex: 1; }

.m-0 {
  margin: 0; }

.m-1 {
  margin: 1rem; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mt-0 {
  margin-top: 0; }

.mt-h {
  margin-top: 0.5rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-1h {
  margin-top: 1.5rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-2h {
  margin-top: 2.5rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem; }

.mx-2 {
  margin-right: 2rem;
  margin-left: 2rem; }

.mr-h {
  margin-top: 0.5rem; }

.mr-1 {
  margin-right: 1rem; }

.mb-0 {
  margin-bottom: 0; }

.mb--h {
  margin-bottom: -1rem; }

.mb-hh {
  margin-bottom: 0.25rem; }

.mb-h {
  margin-bottom: 0.5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.ml-auto {
  margin-left: auto; }

.ml-h {
  margin-left: 0.5rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.p-0 {
  padding: 0; }

.p-h {
  padding: 0.5rem; }

.p-1 {
  padding: 1rem; }

.p-1h {
  padding: 1.5rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.p-4 {
  padding: 4rem; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.py-hh {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.py-h {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-1h {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pt-h {
  padding-top: 0.5rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-1h {
  padding-top: 1.5rem; }

.pt-2 {
  padding-top: 2rem; }

.pb-h {
  padding-bottom: 0.5rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-1h {
  padding-bottom: 1.5rem; }

.pl-0 {
  padding-left: 0; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pr-1 {
  padding-right: 1rem; }

.w-fit {
  width: fit-content; }

.op-h {
  opacity: 0.5; }

.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  border-width: 0; }

/*# sourceMappingURL=index.css.map */
