// // Base

// Resets

html
    font-size: $basefont
    color: $black
    background: $main-bg
    overflow-x: hidden
    width: 100vw

*,
*::before,
*::after
    box-sizing: border-box

*
    outline-color: inherit
    outline: none

body
    margin: 0
    font-family: $regularfont
    font-size: $mediumfont
    line-height: $defaultlh
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    overflow-x: hidden
    width: 100%
    color: $greyblack

p, a
    margin: 0
    text-align: center

    @media #{$mediumup}
        text-align: left

a,
.as-link
    outline: none
    text-decoration: none
    cursor: pointer
    color: unset
    transition: all 0.32s ease-out

    &:focus, &:hover
        text-decoration: none

img
    display: block
    max-width: unset
    width: 100%

svg
    pointer-events: none
    vertical-align: middle
    fill: inherit

ul
    padding: 0
    list-style: none
    margin: 0

main
    margin: 1rem
