// // Variables

// font-family

@font-face
    font-family: "avenirbold"
    src: url("/avenir.font/AvenirLTStd-Black.otf") format("otf")
    font-weight: normal
    font-style: normal

@font-face
    font-family: "avenirbook"
    src: url("/avenir.font/AvenirLTStd-Book.otf") format("woff2"), url("/uploads/fonts/relative-book-webfont.woff") format("woff")
    font-weight: normal
    font-style: normal

@font-face
    font-family: "helvetica"
    src: url("Helvetica-Font/Helvetica.ttf") format("ttf")
    font-weight: normal
    font-style: normal

// Typography
$basefont: 10px
$microfont: min(max(1rem, 6vw), 1.4rem)
$smallfont: min(max(1.1rem, 6vw), 1.6rem)
$mediumfont: min(max(1.2rem, 6vw), 1.8rem)
$largefont: min(max(16rem, 6vw), 2.4rem)
$xlargefont: min(max(2.7rem, 6vw), 4rem)
$xxlargefont: min(max(5.5rem, 6vw), 8rem)

$bodyfont: "avenirbook", sans-serif
$headingfont: "helvetica", serif
$regularfont: "avenirbold", sans-serif

$defaultlh: min(max(2.2rem, 6vw), 2.9rem)
$headinglh: min(max(5.7rem, 6vw), 8.8rem)
$lh-26: min(max(1.9rem, 6vw), 2.6rem)
$lh-31: min(max(2.1rem, 6vw), 3.1rem)
$lh-52: min(max(4rem, 6vw), 5.2rem)

// Colors
$white: #ffffff
$black: #212353
$greyblack: #4B5D68
$purple: #9C69E2
$pink: rgba(240, 99, 184, 0.15)
$deeppink: #F063B8
$lightgreen: rgba(104, 201, 186, 0.1)
$lightpurple: rgba(156, 105, 226, 0.1)
$lightpink: rgba(240, 99, 184, 0.1)
$lightblue: rgba(45, 156, 219, 0.1)
$main-bg: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%)

$preferredradius: 5px
$radius-c: 50%
$radius-50: 50px
$radius-10: 10px

// Measures, Widths, & Heights
$maxwidth-xl: 1192px
$maxwidth-sl: 1024px
$maxwidth-lt: 992px
$maxwidth-tb: 768px
$maxwidth-sm: 576px
$maxwidth-500: 500px
$maxwidth-xs: 360px
$maxwidth-xxs: 304px
$maxwidth-750: 750px

// Media Queries
$xxsmallup: "only screen and (min-width: 312px)"
$xsmallup: "only screen and (min-width: 368px)"
$xslandscape: "only screen and (min-width: 480px)"
$smallup: "only screen and (min-width: 576px)"
$smalldown: "only screen and (max-width: 575px)"
$mediumup: "only screen and (min-width: 768px)"
$mediumdown: "only screen and (max-width: 767px)"
$largedown: "only screen and (max-width: 991px)"
$largeup: "only screen and (min-width: 992px)"
$slaptop: "only screen and (min-width: 1024px)"
$xlargeup: "only screen and (min-width: 1192px)"
